<h1>My Student Progress Reports</h1>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Language</td>
            <td>Course Name</td>
            <td>Book Name</td>
            <td>Feedback</td>
            <td>Actions</td>
        </tr>
    </thead>

    <tbody>
        <% @student_progress_reports.each do |report| %>
            <tr>
                <td><%= report.student_name %></td>
                <td><%= report.language %></td>
                <td><%= report.course_name %></td>
                <td><%= report.book_name %></td>
                <td><%= report.feedback %></td>
                <td>some actions </td>
            </tr>
        <% end %>
    </tbody>
</table>