<h1>Student Progress Report</h1>
<p><strong>Name:</strong> <%= @student_progress_reports.student_name %></p>
<p><strong>Language:</strong> <%= @student_progress_reports.language %></p>
<p><strong>Course name:</strong> <%= @student_progress_reports.course_name %></p>
<p><strong>Book name:</strong> <%= @student_progress_reports.book_name %></p>
<p><strong>Feedback</strong></p>
<p><%= @student_progress_reports.feedback %></p>