<p style="color: green"><%= notice %></p>

<%= render @student_progress_report %>

<div>
  <%= link_to "Edit this student progress report", edit_student_progress_report_path(@student_progress_report) %> |
  <%= link_to "Back to student progress reports", student_progress_reports_path %>

  <%= button_to "Destroy this student progress report", @student_progress_report, method: :delete %>
</div>
