<h1 class="text-center mt-4">Enter New Category</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
            <%= render 'shared/errors', obj: @category %>

        <%= form_with(model: @category,
                    html: { class: "shadow p-3 mb-3 bg-info rounded" },
                    local: true) do |form| %>

        <div class="form-group row mt-3">
          <%= form.label :name, "Category Name", class: "col-sm-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :name,
                                 class: "form-control shadow rounded",
                                 placeholder: "Enter a category" %>
          </div>
        </div>

        <div class="form-group row mt-3 justify-content-center">
          <div class="col-auto">
            <%= form.submit "Create", class: "btn btn-outline-light btn-lg"%>
          </div>
        </div>

      <% end %>

      <div class="text-center mb-3">
        <%= link_to "[Cancel and return to articles listing]",
                    articles_path,
                    class: "text-info" %>
      </div>
    </div>
  </div>
</div>
